<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" name="viewport" content="maximum-scale=1,initial-scale=1,user-scalable=no" />
        <title>COBI Wiki</title>
        <!-- Sets initial viewport load and disables zooming  -->
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">

        <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <!-- Include the compiled COBI.Bike CSS -->
        <link href="https://cdn.cobi.bike/devkit/v1.0.0/css/cobi-style.css" rel="stylesheet">

        <!-- Include the compiled COBI.Bike JS -->
        <!--<script src="https://cdn.cobi.bike/devkit/v1.0.0/js/cobi-style.min.js"></script>  -->              
    </head>       
    <body>            
        <!--https://github.com/cobi-bike/DevKit-UI#demo-examples-->
        <header class="bar bar-nav">
            <a class="icon icon-left-nav pull-left"></a>
            <a class="icon icon-compose pull-right"></a>
            <h1 class="title">COBI-Wiki</h1>
        </header>
        <%= layer %>
        <div class="content">
            <div id="instruction" class="content-padded">
                <table>
                    <tr>
                        <td>
                            <% if( headlineImgUrl != null){ %>
                                <img width="100" src="<%= headlineImgUrl %>" />
                            <%} %>                                   
                        </td>
                        <td>
                            <p><%= headline%></p>   
                        </td>
                    </tr>
                </table>
            </div>
            <ul id="liste" class="table-view" title="<%= layer %>">
                <% if(items != null){                
                    for(var i=0; i<items.length; i++) {%>                                           
                        <li class="table-view-cell">                                   
                            <a  id="<%= i + 1  %>"                                     
                                class="<%= items[i].aclass %>"
                                name="<%= items[i].title %>"
                                href="<%= items[i].url %>" 
                                data-transition="slide-in" 
                                onclick="starteNavigation(name);">                                                                
                                <table >
                                    <tr>
                                        <td>
                                            <% let x = 'span1' + (1 + i) %>                                        
                                            <span id="span<%= i + 1 %>" class="icon icon-star"></span>                                                
                                        </td>
                                        <td>                                            
                                            <img id="<%= items[i].id %>" height="100" src="<%= items[i].imageUrl %>" alt="<%= items[i].imageUrl %>" />
                                        </td>
                                        <td>
                                            <p id= "des"><%= items[i].description  %></p>                
                                            <div hidden="hidden" id= "lat<%= items[i].id %>"><%= items[i].latitude  %></div>                                            
                                            <div hidden="hidden" id= "lon<%= items[i].id %>"><%= items[i].longitude  %></div>                                                                                                                    
                                        </td>
                                    </tr>
                                </table> 
                            </a>
                        </li>
                    <% } 
                }%>
            </ul>
        <% if(items == null){               %> 
            <div>
                <form action="" class="input-group"  id="formular" method="POST">                
                    <div class="input-row">
                        <label>Suchbegriff eintippen</label>
                        <input id="search" type="text" name="searchstring" placeholder="Coesfeld">
                    </div>              
                    
                    <button id="btnSuchen" class="btn btn-block blue">suchen</button> 
                </form>
            </div>
        <%}%>
            <div id="instruction" class="content-padded">                    
                <p></p>        
                <p></p>                    
                <p></p>
                <p></p>    
                <p id="footer"></p>
                <font id="coordinates" size="1"></font>
            </div>            
        </div>
        <script src="https://cdn.cobi.bike/cobi.js/0.44.0/cobi.js"></script>  
        <script src="./client.js"></script>
    </body>    
</html>
